# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OpenCV\object-measurements-opencv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
